<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
</head>
<body>
<h1>Login form.</h1>

<form th:action="@{/login}" th:object="${login}" method="post">
    <p th:if="${loginError}"><em>Username or password is wrong.</em></p>
    <p><label for="username">Username</label>:
        <input type="text" id="username" name="username" autofocus="autofocus" /></p>
    <p><label for="password">Password</label>:
        <input type="password" id="password" name="password" /></p>
    <p><input type="submit" value="Log in" /></p>
</form>

</body>
</html>